<html>
<head>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<h2 class="text-center">Checkout </h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h2 class="text-center">Items</h3>
    <ul class="Shopping_Cart">
      <% @checkout.cart.basket.each do |item|%>
        <div id="checkout-product-<% item.id %>">
        <p> <%= @product.find(item.id).name %> in <%= @product.find(item.id).colour %> - £<%= '%.2f' % item.price %>, quantity: <%=item.quantity%> </p>
        </div><!--checkout-product-->
      <% end %>
    </ul>
    </div><!--/col-md-6-->

    <div class="col-md-6">

    <h2 class="text-center">Total cost</h2>
    <div class="panel panel-default">
    <p class="text-center">Add voucher:</p>
    <form class="text-center" action='/checkout/voucher/add' method="POST">
      <input name="voucher" type="text" placeholder="Enter voucher code">
      <input value="add" type="submit">
    </form>

    <h2> 
       <%= flash[:notice] %>
    </h2>

    <p>Total item cost: £<%= '%.2f' % @checkout.total_item_cost%></p>

    <p>Discounts: <ul class="Vouchers">
                    <% @checkout.vouchers.each do |voucher| %>
                      <div id="voucher-<% voucher.id %>">
                        <p> <%= voucher.id %>, discount: - £<%= '%.2f' % voucher.amount %> </p>
                     </div><!--/voucher-->
                    <% end %>
                  </ul>
    </p>

    <% if @checkout.vouchers.length > 0 %>
      <p> Total discount: - £<%= '%.2f' % @checkout.total_discount %>
    <% end %>

    <p>Total including discounts: £<%= '%.2f' % @checkout.total_cost%> </p>
    </div><!--panel panel-default-->
    </div><!--/col-md-6-->
    </div><!--/row-->
  </div><!--/container-->

</body>
</html>
