<html>
<head>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-6">
    <h1 class="text-center"> Items Available </h1>
    <h2> <%= flash[:notice] %> </h2>
        <ul class="products">
          <% @products.each do |item| %>
            <li id='product-<%= item.id %>' class="panel panel-default">
              <p class="text-center"> <%= item.gender %>'s <%= item.category %>: <%= item.name %> in <%= item.colour %> - £<%= '%.2f' % item.price %>, total stock: <%= item.stock %></p>
              <form class="text-center" action="/cart/products/<%= item.id %>" method="POST">
                <input type='submit' value='Add to basket'>
              </form>
            </li><!--/product-id-->
          <% end %>
        </ul>
    </div> <!--/col-md-6-->


    <div class="col-md-6">
    <h2 class="text-center">Shopping Cart</h2>
      <div class="panel panel-default" style="text-align:centre">
      
      <ul class="shopping_cart">
         <% @cart.basket.each do |item|%>
          <li id="checkout-product-<% item.id %>">
            <p class="text-center"> <%= @product.find(item.id).name %> in <%= @product.find(item.id).colour %> - £<%= '%.2f' % item.price %>, quantity: <%=item.quantity%> </p>
            <form class="text-center" action="/cart/products/<%= item.id %>/delete" method="POST">
              <input type='submit' value='Remove from basket'>
            </form>
          </li><!--checkout-product-->
        <% end %>
       </ul>
      
       <p class="text-center">Total Cost:</p>
       <p class="text-center">£<%= '%.2f' % @cart.total_cost%></p>
      
        <form class="text-center" action='/checkout' method="GET">
          <input type='submit' value='Checkout'>
        </form>
      </div><!--/panel panel-default-->
    </div><!--/col-md-6-->
  </div><!--/row-->
</div><!--/container-->
<body>
</html>